html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header-outer {
    background-color: white;
    position: sticky;
    z-index: 500;
    top: 0;
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    display: flex;
}

.header-left, .header-right {
    flex: 1;
    padding: 0 13px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left > .logo {
    height: 50px;
    width: 80px;
}

/** =========Nav bar==========*/
.header-right > ul {
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

.header-right > ul > li {
    margin-right: 8px;
    border-bottom: 3px solid transparent;
    padding: 5px 15px;
}

.header-right > ul > li:last-child {
    margin-right: 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right > ul > li > a {
    text-decoration: none;
    color: #2c3e50;
}

.header-right > ul > li:hover {
    border-bottom: 3px solid #d35400;
    cursor: pointer;
}

/** =========Nav bar==========*

/** =========slider==========*/
.slider-main-outer {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    height: auto;
    /*display: flex; */  
}
.slider-main-inner {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    height: 750px;
    background-color: white;
    display: flex;
}

.slider-desk-left, .slider-desk-rigth {
    flex: 1;
   }

.slider-desk-left-heading{
    margin-top: 60px;
    margin-left: 8px;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 50px;
}

.slider-desk-mini-heading{
    font-size: 36px;
    margin-left: 8px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.para{
    font-size: 30px;
    margin-left: 8px;
    margin-bottom: 30px;
}

.slider-desk-rigth {
    background-repeat: no-repeat;
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/c5449b445c6259049d6eea37/pexelsphoto179908.jpeg);
}


/** =========slider==========*/

/** =========about==========*/
.about-main-outer {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    height: auto;
    top: 0;
    display: flex;
     
}
.about-main-inner {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    height: 750px;
    background-color: black;
    display: flex;
}

.about-main-outer>.decorater{
    margin-left:580px ;
    width: 200px;
    height: 30px;
    background-color: yellow;
    position: absolute;
    flex: 1;
    margin-top: 30px;
}

.about-desk-left, .about-desk-rigth {
    flex: 1;
   }

.about-desk-left{
    background-color: wheat;
    width: 100%;
    height: 630px;
}

.about-desk-right{
    width: 100%;
    height: 500px;
}

.about-header{
    margin-top: 20px;
    margin-left: 8px;
    padding: auto;
    font-size: 30px;
    font-weight: bold;
    left: 10px;
}

.about-para{
    margin-top: 45px;
    font-size: 18px;
    align-items: left;
    margin-right: 30px;
    margin-left: 20px;

}

.about-button{
    background-color: transparent;
    font-display: black;
    margin-left: 20px;
    border: none;
    margin-top: 50px;
    
}

.about-desk-left > .about-button:hover {
    border-bottom: 6px solid #d35400;
    cursor: pointer;
}

.about-desk-right-img{
    width: 70%;
    height: 650px;
    /*align-items: center;
    justify-content: center;*/
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 120px;
    margin-right: 50px;
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/4f1db6f58e49508bb7266655/pexelsphoto841130.jpeg);
}


/** =========about==========*/


/** =========our-mission==========*/
.mission-main-outer {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    height: auto;
    top: 0;
    display: flex;
     
}
.mission-main-inner {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    height: 750px;
    background-color: black;
    display: flex;
}

.mission-main-outer>.decorater1{
    margin-left:650px ;
    width: 600px;
    height: 30px;
    background-color: yellow;
    position: absolute;
    flex: 1;
    margin-top: 20px;
}


.mission-main-outer>.decorater2{
    margin-left:180px ;
    width: 400px;
    height: 30px;
    background-color: yellow;
    position: absolute;
    flex: 1;
    margin-top: 700px;
}


.mission-desk-left-img, .mission-desk-middle,.mission-desk-right-img {
    flex: 1;
   }

.mission-desk-left-img, .mission-desk-middle,.mission-desk-right-img{
    width: 100%;
    height: 500px;
    margin-top: 120px;
}

.mission-desk-left-img{
    background-position: center;
    margin-top: 30px;
    background-image: url(https://static.euronews.com/articles/stories/06/78/06/90/1440x810_cmsv2_9cec488a-342c-5f59-b8dd-d32c3826706f-6780690.jpg);
}

.mission-desk-right-img{
    margin-top: 180px;
    background-image: url(https://www.roches-blanches-cassis.com/wp-content/uploads/AdobeStock_212730076-uai-960x720.jpg);
}

.mission-desk-middle{
    padding: 20px;
    background-color: white;
}

.para-heading{
    margin-top: 40px;
    margin-left: 8px;
    padding: auto;
    font-size: 30px;
    font-weight: bold;
    left: 10px;
}

.para{
    margin-top: 45px;
    font-size: 20px;
    align-items: left;
    margin-right: 30px;
    margin-left: 20px;

}

.mission-button{
    background-color: transparent;
    font-display: black;
    margin-left: 20px;
    border: none;
    margin-top: 50px;
    
}

.mission-main-inner > .mission-desk-middle>.mission-button:hover {
    border-bottom: 6px solid #d35400;
    cursor: pointer;
}
/** =========our-mission==========*/

/** =========Services==========*/
.services-main-outer {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    height: auto;
    top: 0;
    display: flex;
     
}
.services-main-inner {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    height: 750px;
    background-color: black;
    display: flex;
}

.services-desk-left,.services-desk-right {
    flex: 1;
   }

.services-desk-left,.services-desk-right {
    width: 100%;
    height: 500px;
    margin-top: 40px;
}

.services-desk-left{
    background-position: center;
    height: 600px;
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/30e489d2c4e6544e81f018f8/pexelsphoto1401796.jpeg);
}

.services-desk-right{
    padding: 60px;
    height: 500px;
    margin-top: 80px;
    background-color: #82ccdd;
}

.services-desk-right-img{
    flex: 1;
    width: 400px;
    height: 150px;
    margin-top: 70px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 130px;
    background-image: url(https://img.freepik.com/free-photo/caucasian-professional-male-runner-athlete-training-isolated-white-wall-copyspace-ad_155003-38572.jpg?w=826&t=st=1676767123~exp=1676767723~hmac=0911085d624284af27c1438a72c85b44938997167d79593d1359178e3fbbc8a9);
}

.services-para-heading{
    margin-top: 80px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    left: 10px;
}

.services-para{
    margin-top: 40px;
    font-size: 20px;
    align-items: left;
    margin-right: 30px;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/** =========Services==========*/

/** =========Gallery==========*/
.gallery-main-outer{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    height: auto;
    top: 0;
    display: flex;
     
}
.gallery-main-inner{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    height: 750px;
    background-color: #f1c40f;
    display: flex;
}

.gallery-outer{
    margin-top: 60px;
    width: 1000px;
    height: 600px;
    margin-left: 170px;
    position: relative;
    z-index: 1  ;
}
.gallery-inner{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.gallery-inner:last-child{
    margin-top: 8px;
}
.gallery-inner:nth-child(2){
    margin-top: 8px;
}
.gallery-items,.gallery-items-middle{
    width: 32%;
    height: 100%;
    background-color: white;
}
.gallery-items img{
    width: 100%;
    height: 100%;
}

.gallery-items-middle{
background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg);
}

.gallery-middle-heading{
    padding: 20px;
    font-size: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

.gallery-button{
    background-color: transparent;
    font-display: white;
    color: white;
    margin-left: 20px;
    border: none;
    position: absolute;
    margin-top: 8px;
    
}

.gallery-inner > .gallery-items-middle>.gallery-button {
    border-bottom: 6px solid #d35400;
    cursor: pointer;
}


/** =========Gallery==========*/

/** =========Contact==========*/
.contact-main-outer {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    height: auto;
    top: 0;
    display: flex;
     
}
.contact-main-inner {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    height: 750px;
    background-color: black;
    display: flex;
}

.contact-desk-left,.contact-desk-right {
    flex: 1;
   }

.contact-desk-left,.contact-desk-right {
    width: 100%;
    height: 600px;
    margin-top: 80px;
}

.contact-desk-left{
    background-color:#1abc9c;
}

.contact-desk-right{
    background-color: white;
}

.contact-desk-left>.contact-decorator4{
    margin-left:80px ;
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5SgNqPgvpOWf0biP-aVaohrJ2saUOSoQvR3wqhm3IZguxx9uBHRsV-gaGo7cgF7C40LE&usqp=CAU);
    position: absolute;
    margin-top: 40px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }


.contact-desk-left>.contact-decorator5{
    margin-left:330px ;
    width: 200px;
    height: 200px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxlq-STjmyftFq1EUY6OqsIqlCCs78XNeU-A&usqp=CAU);
    position: absolute;
    margin-top: 200px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.contact-desk-left>.contact-decorator6{
    margin-left:60px ;
    width: 200px;
    height: 200px;
    background-position: center;
    background-image: url(https://freedesignfile.com/upload/2018/08/The-gym-doing-sports-men-and-women-Stock-Photo.jpg);
    position: absolute;
    margin-top: 300px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}


.contact-desk-left>.con-deco{
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    background-color: #f1c40f;
}

.one{
    margin-left:450px ;
    width: 120px;
    height: 120px;
    margin-top: 30px;
}

.two{
    margin-left:280px ;
    width: 90px;
    height: 90px;
    margin-top: 400px;
}

.three{
    margin-left:430px ;
    width: 120px;
    height: 120px;
    margin-top: 445px;
}



/*Contact Form*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Inter", sans-serif;
  }
  .formbold-mb-5 {
    margin-bottom: 20px;
  }
  .formbold-pt-3 {
    padding-top: 12px;
  }
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
  }
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  @media (min-width: 540px) {
    .sm\:w-half {
      width: 50%;
    }
  }


/** =========Contact==========*/